{% load static %}
{% for item in portfolio %}
<div class="portfolio-modal modal fade" id="portfolioModal{{ item.pk }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src={% static "assets/img/close-icon.svg" %} alt="Close modal" ></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <ul class="list-inline">
                                        {% for project in item %}
                                        <li>
                                            <h2 class="text-uppercase">{{ project.project_name }}</h2>
                                            <p class="item-intro text-muted">{{ project.text}}</p>
                                            <img class="img-fluid d-block mx-auto" src="{{ item.photo.url }}" alt="..." />
                                            <p class="text-muted text-sm">{{ project.description }} </p>
                                            <strong>Client:</strong>
                                            {{ project.client_name }}
                                        </li>
                                        {% endfor %}
                                        {% for project in item %}
                                        <li>
                                            <strong>Category:</strong>
                                            {{ project.category_name }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}